<div>
    <mat-card align="center">
        <mat-card-title>
            <p>Kérjük jelentkezzen be!</p>
        </mat-card-title>
        <mat-card-content>
            <div>
                <input style="margin-bottom: 20dp !important;">
            </div>
            <div>
                <input>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button class="btn btn-md btn-block btn-info" [routerLink]="['/index']" routerLinkActive="router-link-active" >
                Bejelentkezés
            </button>
        </mat-card-actions>
    </mat-card>
</div>